form {
    text-align: center;
}

.form-container input {
    width: 25%;
    padding: 12px 20px;
    margin: 8px 0;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.top-img {
    display: block;

    align-items: center;
}